#schemaDetails {
	height: 100%;
}

/*
#schemaDetails .datagrid-cell {
	font-size:12px;
}

#schemaDetails .datagrid-header-row, .datagrid-row{
	height:25px;
}
*/
#tableDetails {
	height: 100%;
}

#indexDetails {
	height: 100%;
}

#sequenceDetails {
	height: 100%;
}

#viewDetails {
	height: 100%;
}

textarea {
	overflow: auto;
	width: 100%;
	height: 100%;
	border: none;
	font-family: 'Malgun Gothic';
	resize: none;
	outline: none;
	overflow-wrap: normal;
}

#functionDetails {
	height: 100%;
}

#packageDetails {
	height: 100%;
}

#typeDetails {
	height: 100%;
}

#procedureDetails {
	height: 100%;
}

#triggerDetails {
	height: 100%;
}