body {
	background-color: gainsboro;
}

.container {
	width: 400px;
	height: auto;
	margin: auto;
	margin-top: 200px;
	background-color: #fff;
	border-radius: 10px;
	padding-bottom: 20px;
}

.header {
	margin: auto;
	height: 60px;
	display: flex;
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	background-color: #709078;
	border-radius: 10px 10px 0 0;
	justify-content: center;
	align-items: center;
}

.border {
	width: 350px;
	height: auto;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
	padding: 20px 20px 10px;
}

.border input {
	width: 310px;
}

.border .item {
	margin-bottom: 10px;
}

.row2 {
	display: flex;
	justify-content: space-between;
}

.row2 a {
	font-size: 12px;
	text-decoration: none;
	color: #0969da;
}

.msg {
	color: red;
	font-size: 8px;
	align-self: flex-end;
}

#login-btns {
	display: flex;
	width: 310px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	justify-content: space-evenly;
}

#login-btns input {
	width: 150px;
	height: 30px;
}