body {
	width: 100vw;
	height: 100vh;
}

.msg {
	width: 600px;
	height: 400px;
	margin: auto;
	margin-top: 200px;
	text-align: center;
}

.msg h2 {
	font-size: 50px;
	margin-bottom: 40px;
}

p {
	margin-bottom: 30px;
	font-size: 30px;
}

button {
	background-color: #709078;
	height: 40px;
	font-size: 15px;
	width: 165px;
	border: none;
	border-radius: 10px;
	color: #fff;
}

button:hover {
	background-color: #80a088;
}