body {
	width:100vw;
	height:100vh;
}

.msg {
	width: 600px;
	height: 400px;
	margin: auto;
	margin-top: 200px;
	text-align: center;
}

.msg h2 {
	font-size:50px;
	margin-bottom:40px;
}

button {
	background-color:#6aaaff;
	height:40px;
	border: none;
	border-radius:10px;
	color: #fff;
}

button:hover {
	background-color:#5a9aef;
}